*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1600px;
    height: auto;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    background-color: var(--#FFFFFF, rgba(255, 255, 255, 1));
}
nav a{
    text-decoration: none;
}
.menu{
    display: flex;
    list-style: none;
    gap: 30px;
}

.my-btn{
    padding: 10px;
    font-size: 15px;   
    font-weight: 500;
    background-color: #30b868;
    color: #FFFFFF;
    border: none;
    gap: 20px;
    font-style: bold;
    border: 1px solid #30b868;
}
.my-btn img{
    width: 15px;
    height: 15px;
}

.hero-section-parent{
    background-image: url(./assets/hero-bg.png);
    height: 100vh;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    gap: 20px;
}
.hero-content{
    gap: 40px;
    padding: 20px;
}
.my-btn-2{
    background-color: #FFFFFF;
    color: #30b868;
    padding: 8px 12px;
    border-radius: 1000px;
    text-align: center;
    align-items: center;
    gap: 20px;
}
.color{
    color: #FFFFFF;
    gap: 20px;
}
.color-2{
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    color: #FFFFFF;
    font-family: initial;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 15px;
}
.special{
    color: #30b868;
}
.my-btn-3{
    padding: 10px;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid white;
    font-size: 15px;
    font-weight: 500;
    font-style: bold;
    gap: 20px;
    margin-left: 10px;
}
.my-btn-3 img{
    background-color: transparent;
    height: 15px;
    width: 15px;
}
.notes-parent{
    margin: 20px auto;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0%;
    padding: 15px;
}

.pillar-card-parent{
    display: flex;
    gap: 30px;
   padding: 5px;
}
.pillar-card{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 5px solid rgba(255, 255, 255, 1);
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.pillar-section-title{
    font-weight: 600;
    font-size: 700;
    margin-bottom: 10px;
}
.pillar-card img{
    width: 15px;
    height: 15px;
    padding: 10px;
    border-radius: 100%;
    background-color: rgba(249, 85, 85, 1);
}
.solution-card-parent{
    width: 1200px;
    height: 400px;
    margin-right: 20px;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding: 100px;
    background-color: #FFFFFF;
}
.solution-card{
    display: flex;
    flex-direction: row;
}
.solution-whole{
    width: 400px;
    height: 400px;
    margin-left: 50px;
    gap: 40px;
}
.knowledge-image{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    margin-right: 50px;
    margin-left: 100px;
}
#unique{
    color: #30b868;
}
.connectors{
    list-style: none;
    font-family: initial;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    gap: 10px;
    margin-top: 20px;
}
.ready-box-parent{
    width: 1200px;
    height: 300px;
    padding: 80px 40px;
    border-radius: 15px;
    justify-content: flex-start;
    background-color: rgba(247, 246, 242, 1);
    border: 1px solid #FFFFFF;
}
.ready-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.footer-parent{   
    background-color: rgba(0, 25, 49, 1);
}
.footer-content{
    display: flex;
    justify-content: space-between; 
    max-width: 1200px;
    height: 40px;
    padding: 80px 80px 20px 80px;
    color: #FFFFFF;
    list-style: none;
}
.ftr-img-1{
    height: 50px;
    width: 140px;
}

.ftr-img{
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
    list-style: none;
    display: flex;
    flex-direction: row;
}
.ftr-img a{
    text-decoration: none;
    list-style: none;
}
.copyright{
    text-align: center;
    align-items: center;
    margin-bottom: 5px;
    flex: none;
    color: #FFFFFF;
}